In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
558,tt0179626,60000000,56359980,15 Minutes,Robert De Niro|Charlize Theron|Edward Burns|Ke...,John Herzfeld,America Likes to Watch,When Eastern European criminals Oleg and Emil ...,120,Action|Crime|Thriller,New Line Cinema|Industry Entertainment|Tribeca...,3/1/2001,5.7,2001
1580,tt0319262,125000000,544272402,The Day After Tomorrow,Dennis Quaid|Jake Gyllenhaal|Emmy Rossum|Dash ...,Roland Emmerich,Where will you be?,"After years of unabated global warming, the gr...",124,Action|Adventure|Science Fiction|Thriller,Lions Gate Films|Twentieth Century Fox Film Co...,5/26/2004,6.1,2004
930,tt0280030,20000000,109862682,Return to Never Land,Harriet Owen|Blayne Weaver|Jeff Bennett|Kath S...,Robin Budd|Donovan Cook,The Classic Continues,The classic tale of 'Peter Pan' continues in D...,72,Adventure|Fantasy|Animation|Family,Walt Disney Pictures|Walt Disney Television An...,2/14/2002,6.2,2002
140,tt0455944,55000000,192330738,The Equalizer,Denzel Washington|Marton Csokas|ChloÃ« Grace M...,Antoine Fuqua,What do you see when you look at me?,"In The Equalizer, Denzel Washington plays McCa...",132,Thriller|Action|Crime,Columbia Pictures|Village Roadshow Pictures|Es...,9/24/2014,7.2,2014
1649,tt0356618,42000000,117575636,The Forgotten,Julianne Moore|Anthony Edwards|Jessica Hecht|C...,Joseph Ruben,You'll Never Forget The Ones You Love,Telly Paretta is a grieving mother struggling ...,91,Crime|Drama|Horror|Mystery|Science Fiction,Revolution Studios|Jinks/Cohen Company|Visual ...,9/24/2004,5.4,2004

In [3]:
data.describe()
data.info() # Проверка DF

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов
# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget'] # Создание новой колонки profit
data['month'] = pd.to_datetime(data.release_date).dt.month #создание колонки month


# Функция разбивки строк
def split(x):
    if x == 'production_companies':
        df_split = data.copy()
        df_split.production_companies = df_split.production_companies.str.split('|')
        df_split = df_split.explode('production_companies')
        return df_split
    elif x == 'cast':
        df_split = data.copy()
        df_split.cast = df_split.cast.str.split('|')
        df_split = df_split.explode('cast')
        return df_split

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'  #+
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,5

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)' #+

In [9]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,2

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '768. Winnie the Pooh (tt1449283)' #+
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,4

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = '110' #+
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = '107'  #+
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '239. Avatar (tt0499549)' #+
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,12

# 7. Какой фильм самый убыточный?

In [14]:
answers['7'] = '1245. The Lone Ranger (tt1210819)' #+
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
# Вариант1
answers['8'] = '1478' #+
data[data.profit > 0].profit.count()

1478

In [16]:
# Вариант2 
count = data[data.profit > 0].value_counts()
print(len(count))

1478

In [17]:
# Вариант3
data[data.revenue > data.budget].revenue.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [18]:
answers['9'] = '599. The Dark Knight (tt0468569)' #+
data_2008 = data[data.release_year == 2008] # создание Data Frame для 2008 года
data_2008[data_2008.revenue == data_2008.revenue.max()] # самый кассовый фильм 2008 года

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [19]:
answers['10'] = '1245. The Lone Ranger (tt1210819)' #+
data_range = data[(2012 <= data['release_year']) & (data['release_year']<= 2014)] # создание Data Frame c 2012 по 2014
data_range[data_range.profit == data_range.profit.min()] # самый убыточный фильм

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7

# 11. Какого жанра фильмов больше всего?

In [20]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama' #+
from collections import Counter
df_genres = list(data['genres'].str.split('|'))
df_genres = [item for sublist in df_genres for item in sublist]
c = Counter(df_genres)
print(c)

Counter({'Drama': 782, 'Comedy': 683, 'Thriller': 596, 'Action': 582, 'Adventure': 415, 'Crime': 315, 'Romance': 308, 'Family': 260, 'Science Fiction': 248, 'Fantasy': 222, 'Horror': 176, 'Mystery': 168, 'Animation': 139, 'Music': 64, 'History': 62, 'War': 58, 'Western': 19, 'Documentary': 8, 'Foreign': 2})

ВАРИАНТ 2

In [21]:
df_genres = data.copy()
df_genres.genres = df_genres.genres.str.split('|')
df_genres = df_genres.explode('genres')
df_genres['genres'].value_counts().head(1)

Drama    782
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [22]:
answers['12'] = 'Adventure' # Ответ неверен???? я не понял почему
data_genres_profit = data.copy() #копирование Data frame
data_genres_profit.genres = data_genres_profit.genres.str.split('|') #Создание списка в колонке genres
data_genres_profit = data_genres_profit.explode("genres")
data_genres_profit.groupby('genres').profit.sum().sort_values(ascending=False)

genres
Adventure          86070466981
Action             80187900065
Comedy             59774752721
Fantasy            49716648913
Drama              49257224159
Thriller           46740546578
Family             46714255385
Science Fiction    40771890654
Animation          30680622718
Romance            23992150965
Crime              20261017900
Mystery            11752971178
Horror             10584197147
Music               4720498315
War                 4405027096
History             3046143524
Western             1022632954
Documentary          392078032
Foreign              -13444012
Name: profit, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [23]:
#Вариант1
answers['13'] = 'Peter Jackson' #+
director_df = data.groupby(['director'])['revenue'].sum().sort_values(ascending=False) #создание DF режиссер|сборы
director_df.head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

In [24]:
#Вариант2
data_by_director = data.copy()
data_by_director.director = data_by_director.director.str.split("|")
data_by_director = data_by_director.explode("director")
data_by_director.groupby("director").revenue.sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [25]:
answers['14'] = 'Robert Rodriguez' #+
df_action = data[data.genres.str.contains("Action", na=False)].copy()
df_action.director = df_action.director.str.split('|')
df_action = df_action.explode('director')
df_action.groupby('director').genres.count().sort_values(ascending=False).index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [26]:
answers['15'] = 'Chris Hemsworth' #+
df_2012 = data[data.release_year == 2012].copy()
df_2012.cast = df_2012.cast.str.split('|')
df_2012 = df_2012.explode('cast')
df_2012.groupby('cast').revenue.max().sort_values(ascending = False).head(5)

cast
Scarlett Johansson    1519557910
Chris Evans           1519557910
Chris Hemsworth       1519557910
Robert Downey Jr.     1519557910
Mark Ruffalo          1519557910
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [27]:
# Примечание: в фильмах, где бюджет выше среднего по данной выборке.
answers['16'] = 'Matt Damon' #+
df_cast = data[data.budget > data.budget.mean()].copy() # DF для фильмов, где бюджет выше среднего по данной выборке.
df_cast.cast = df_cast.cast.str.split('|')
df_cast = df_cast.explode('cast')
df_cast.groupby('cast').budget.count().sort_values(ascending = False).index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [28]:
answers['17'] = 'Action' #+
df_NicolasC = data[data.cast.str.contains("Nicolas Cage", na=False)].copy()
df_NicolasC.genres = df_NicolasC.genres.str.split('|')
df_NicolasC = df_NicolasC.explode('genres')
df_NicolasC.groupby('genres').genres.count().sort_values(ascending = False).index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [29]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)' #+
df_PP = data[data.production_companies.str.contains("Paramount Pictures", na=False)].copy()
df_PP[df_PP.profit == df_PP.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,7

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [30]:
answers['19'] = '2015' #+
data.groupby('release_year').revenue.sum().sort_values(ascending = False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [31]:
answers['20'] = '2014' #+
df_WB = data[data.production_companies.str.contains("Warner Bros", na=False)].copy()
df_WB.groupby('release_year').profit.sum().sort_values(ascending = False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [32]:
answers['21'] = 'Сентябрь' #+
data['month'].value_counts().sort_values(ascending = False).index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [33]:
answers['22'] = '450' #+
df_summer = data.copy()
df_summer.isin({'month': [6,7,8]}).sum().sort_values(ascending = False).values[0] # определение летних месяцев

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [34]:
answers['23'] = 'Peter Jackson' #+
df_winter_director = data.query('month in [1,2,12]').copy() # создание DF по зимним месяцам
df_winter_director.director.value_counts().sort_values(ascending = False).index[0] # определение режиссера

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [35]:
answers['24'] = 'Four By Two Productions.' #+
df_strmax = split('production_companies') # Разбивка киностудий
df_strmax['TitleLength'] = df_strmax.original_title.apply(lambda x: len(str(x))) # создание столбца с суммой символов
df_strmax.groupby('production_companies').TitleLength.mean().idxmax()

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [36]:
answers['25'] = 'Midnight Picture Show' #+
df_wmax = split('production_companies') # Разбивка киностудий
df_wmax['world_count'] = df_wmax.overview.apply(lambda x: len(str(x).split(' '))) # создание столбца с суммой слов
df_wmax.groupby('production_companies').world_count.mean().idxmax()

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [37]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' #+
# Решение, основанное на моем понимании задачи
x = round(len(data.index)/100) 
data.groupby('original_title').vote_average.max().sort_values(ascending = False).head(x)

original_title
The Dark Knight                                      8.1
The Imitation Game                                   8.0
Inside Out                                           8.0
Interstellar                                         8.0
Room                                                 8.0
The Grand Budapest Hotel                             7.9
The Pianist                                          7.9
Guardians of the Galaxy                              7.9
Memento                                              7.9
The Wolf of Wall Street                              7.9
Inception                                            7.9
Gone Girl                                            7.9
12 Years a Slave                                     7.9
The Lord of the Rings: The Return of the King        7.9
Prisoners                                            7.8
The Fault in Our Stars                               7.8
Eternal Sunshine of the Spotless Mind                7.8
The Prestige                                         7.8
The Lord of the Rings: The Fellowship of the Ring    7.8
Name: vote_average, dtype: float64

In [38]:
# Вариант 2
data.original_title[data.vote_average.quantile(.99) < data.vote_average]

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [61]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'
cast = []
for item in data.cast:
    data_cast = sorted(item.split('|'))
    cast.extend(list(combinations(data_cast,2)))
pd.Series(cast).value_counts()[:10]

(Emma Watson, Rupert Grint)            8
(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Ben Stiller, Owen Wilson)             6
(Helena Bonham Carter, Johnny Depp)    6
(Kristen Stewart, Taylor Lautner)      5
(Paul Walker, Vin Diesel)              5
(Hugh Jackman, Ian McKellen)           5
(Adam Sandler, Kevin James)            5
(Robert Pattinson, Taylor Lautner)     5
dtype: int64

# Submission

In [58]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Adventure',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions.',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [59]:
# и убедиться что ни чего не пропустил)
len(answers)

27